@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Open+Sans&family=Roboto+Slab:wght@300&family=Young+Serif&display=swap');

$fontkanit: 'Montserrat', sans-serif;
$fontkanit:'Young Serif', serif;
$fontkanit: 'Libre Baskerville', serif;
$fontkanit:'Open Sans', sans-serif;

$maincolor: rgb(146, 74, 74);
